.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
  color: #424242;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page-title {
  font-weight: normal;
  font-size: 24px;
}

hr {
  height: 1px;
  background-color: #ddd;
}

.form_select-file_input label {
  background-color: #fff;
  box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.filter-area select {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
}
.filter-area button {
  padding: 8px;
  border-radius: 2px;
  background-color: #229;
  color: #fff;
  cursor: pointer;
}

.results_title {
  font-weight: normal;
  font-size: 20px;
}

.results_list_item {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
